@page "/feeds"

<PageTitle>Manage Feeds</PageTitle>
<h2>Manage Feeds</h2>

<RadzenFieldset class="mt-1 p-2" AllowCollapse="true" Collapsed="true" Collapse="() => FormModel = new()">
	<HeaderTemplate>
		<span class="d-inline-flex align-items-center align-middle">
			<RadzenIcon Icon="build" Class="mr-1" /><b>Add Feed</b>
		</span>
	</HeaderTemplate>
	<ChildContent>
		<EditForm Model="FormModel" OnValidSubmit="() => {}" class="container">
			<DataAnnotationsValidator />
			<div class="row">
				<div class="col-1">
					<RadzenLabel Text="Name"></RadzenLabel>
				</div>
				<div class="col-5">
					<RadzenTextBox @bind-Value="FormModel.Name" class="w-100"></RadzenTextBox>
				</div>
				<div class="col-6">
					<RadzenLabel Text="Description"></RadzenLabel>
					<RadzenTextBox @bind-Value="FormModel.Description" class="w-75"></RadzenTextBox>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-1">
					<RadzenLabel Text="Uri"></RadzenLabel>
				</div>
				<div class="col-9">
					<RadzenTextBox @bind-Value="FormModel.Uri" class="w-100"></RadzenTextBox>
				</div>
				<div class="col-2">
					<RadzenButton Text="Save" Icon="add_circle_outline" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
				</div>
			</div>
			<ValidationSummary />
		</EditForm>
	</ChildContent>
</RadzenFieldset>
@*
<RadzenDataGrid Data="FeedSource" TItem="Feed" AllowColumnResize="true" AllowSorting="true"
				AllowFiltering="true" FilterMode="FilterMode.Simple" LogicalFilterOperator="LogicalFilterOperator.Or" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
				PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
	<Columns>
		<RadzenDataGridColumn TItem="Feed" Property="Id" Title="Id" Filterable="false" Frozen="true" Width="70px" TextAlign="TextAlign.Center">
			<Template Context="F">
				<RadzenButton Icon="highlight_off" Click="e => DeleteFeed(F)"
							  ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Feed" Property="Name" Title="Name" Width="140px" />
		<RadzenDataGridColumn TItem="Feed" Property="Description" Title="Description" Width="140px" />
		<RadzenDataGridColumn TItem="Feed" Property="Uri" Title="Uri" Width="200px" />
	</Columns>
</RadzenDataGrid>
*@
