@inherits LayoutComponentBase

<PageTitle>Syn</PageTitle>

<NavMenu />
<div class="d-flex vh-100 bg-light">
	<main class="flex-fill">
		<article class="p-3">
			@Body
		</article>
	</main>
</div>
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />