<nav class="navbar navbar-dark navbar-expand-sm bg-dark bg-gradient px-2">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Syn</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarContent" aria-controls="navbarContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarContent">
			<div class="navbar-nav">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All" ActiveClass="active">
					<span class="oi oi-home" aria-hidden="true"></span> Home
				</NavLink>
				<NavLink class="nav-link" href="preview" Match="NavLinkMatch.All" ActiveClass="active">
					<span class="oi oi-plus" aria-hidden="true"></span> Preview
				</NavLink>
				<NavLink class="nav-link" href="feeds" Match="NavLinkMatch.All" ActiveClass="active">
					<span class="oi oi-list-rich" aria-hidden="true"></span> Manage
				</NavLink>
				<NavLink class="nav-link" href="https://getbootstrap.com/docs/5.2/" target="_blank">
					<span class="oi oi-brush" aria-hidden="true"></span> Bootstrap
				</NavLink>
				<NavLink class="nav-link" href="https://blazor.radzen.com/docs/" target="_blank">
					<span class="oi oi-script" aria-hidden="true"></span> Radzen
				</NavLink>

				@*<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Dropdown
				</a>
				<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
				</ul>
				</li>*@
			</div>
		</div>
	</div>
</nav>