@inject ISubscriptionService _subService

<div class="card shadow-sm">
	<div class="card-body">
		@foreach (var sub in Subscriptions)
		{
			<div class="card shadow-sm mt-2">
				<div class="card-body">
					<h4 class="card-title"> @sub.Url </h4>
					<h5 class="card-subtitle"> @sub.CreatedAt?.ToLocalTime().ToString("g") </h5>
				</div>
			</div>
		}
	</div>
</div>


@code {
	protected List<FeedSubscription> Subscriptions { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		Subscriptions = await _subService.GetSubscriptions() ?? new();
		_subService.SubscriptionsChanged += UpdateSubscriptions;
	}

	protected void UpdateSubscriptions(object? sender, List<FeedSubscription> subscriptions)
	{
		Subscriptions = subscriptions ?? new();
		StateHasChanged();
	}
}
