@inject ISubscriptionService _subService

<div class="card shadow-sm">
	<div class="card-body">
		@foreach (var sub in Subscriptions)
		{
			<FeedTile Subscription="sub" />
		}
	</div>
</div>


@code {
	protected List<FeedSubscription> Subscriptions { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		Subscriptions = await _subService.GetSubscriptions() ?? new();
		_subService.SubscriptionsChanged += UpdateSubscriptions;
	}

	protected void UpdateSubscriptions(object? sender, List<FeedSubscription> subscriptions)
	{
		Subscriptions = subscriptions ?? new();
		StateHasChanged();
	}
}
