@inherits LayoutComponentBase

<header style="margin-bottom: 56px;">
	<TopNav />
</header>
<main class="p-3 container-fluid">
	@Body
</main>
<footer style="margin-top: 37px;">
	<div class="fixed-bottom w-100 py-2 bg-primary text-center small">
		<a href="https://getbootstrap.com/docs/5.2" target="_blank" class="link-light">Bootstrap</a>
	</div>
</footer>