@inherits LayoutComponentBase

<header>
	<TopNav />
</header>
<main class="p-4 container-fluid">
	@Body
</main>
<footer>
	<div class="position-absolute bottom-0 w-100 bg-gradient-light py-2 text-center">
		<a href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit" target="_blank">Material Kit Docs</a>
	</div>
</footer>